.logo {
    position: relative; 
  top: 125px;
}

.white fs-l3 lh-2 md-fs-xl1 md-lh-1 fw-900 {
    position: relative; 
    top: 600;

}


.heading {
    text-align: left;
    background: -webkit-linear-gradient(#eee, #333);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    padding-left:"10em";
    font-size: 100px;
}

.tm-contact-form{
    text-align:left;
}